<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caixy.shortlink.mapper.LinkAccessStatsMapper">

    <resultMap id="BaseResultMap" type="com.caixy.shortlink.model.entity.LinkAccessStats">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fullShortUrl" column="full_short_url" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="pv" column="pv" jdbcType="INTEGER"/>
            <result property="uv" column="uv" jdbcType="INTEGER"/>
            <result property="uip" column="uip" jdbcType="INTEGER"/>
            <result property="hour" column="hour" jdbcType="INTEGER"/>
            <result property="weekday" column="weekday" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,full_short_url,date,
        pv,uv,uip,
        hour,weekday,create_time,
        update_time,is_deleted
    </sql>

    <!-- 记录基础访问监控数据 -->
    <insert id="shortLinkStats" parameterType="com.caixy.shortlink.model.entity.LinkAccessStats">
        INSERT INTO
            t_link_access_stats (full_short_url, date, pv, uv, uip, hour, weekday, create_time, update_time, is_deleted)
        VALUES(
                  #{linkAccessStats.fullShortUrl}, #{linkAccessStats.date}, #{linkAccessStats.pv},
                  #{linkAccessStats.uv}, #{linkAccessStats.uip}, #{linkAccessStats.hour},
                  #{linkAccessStats.weekday}, NOW(), NOW(), 0
              )
        ON DUPLICATE KEY UPDATE
                             pv = pv + #{linkAccessStats.pv},
                             uv = uv + #{linkAccessStats.uv},
                             uip = uip + #{linkAccessStats.uip};
    </insert>

    <!-- 根据短链接获取指定日期内基础监控数据 -->
    <select id="listStatsByShortLink" parameterType="com.caixy.shortlink.model.dto.linkAccessStats.ShortLinkStatsReqDTO" resultType="com.caixy.shortlink.model.entity.LinkAccessStats">
        SELECT
            tlas.date,
            SUM(tlas.pv) AS pv,
            SUM(tlas.uv) AS uv,
            SUM(tlas.uip) AS uip
        FROM
            t_link tl
                INNER JOIN t_link_access_stats tlas
                           ON tl.full_short_url = tlas.full_short_url
        WHERE
            tlas.full_short_url = #{param.fullShortUrl}
          AND tl.gid = #{param.gid}
          AND tl.is_deleted = 0
          AND tl.enable_status = #{param.enableStatus}
          AND tlas.date BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY
            tlas.full_short_url, tl.gid, tlas.date;
    </select>

    <!-- 根据分组获取指定日期内基础监控数据 -->
    <select id="listStatsByGroup" parameterType="com.caixy.shortlink.model.dto.linkAccessStats.ShortLinkGroupStatsReqDTO" resultType="com.caixy.shortlink.model.entity.LinkAccessStats">
        SELECT
            tlas.date,
            SUM(tlas.pv) AS pv,
            SUM(tlas.uv) AS uv,
            SUM(tlas.uip) AS uip
        FROM
            t_link tl
                INNER JOIN t_link_access_stats tlas
                           ON tl.full_short_url = tlas.full_short_url
        WHERE
            tl.gid = #{param.gid}
          AND tl.is_deleted = 0
          AND tl.enable_status = '0'
          AND tlas.date BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY
            tl.gid, tlas.date;
    </select>

    <!-- 根据短链接获取指定日期内小时基础监控数据 -->
    <select id="listHourStatsByShortLink" parameterType="com.caixy.shortlink.model.dto.linkAccessStats.ShortLinkStatsReqDTO" resultType="com.caixy.shortlink.model.entity.LinkAccessStats">
        SELECT
            tlas.hour,
            SUM(tlas.pv) AS pv
        FROM
            t_link tl
                INNER JOIN t_link_access_stats tlas
                           ON tl.full_short_url = tlas.full_short_url
        WHERE
            tlas.full_short_url = #{param.fullShortUrl}
          AND tl.gid = #{param.gid}
          AND tl.is_deleted = 0
          AND tl.enable_status = #{param.enableStatus}
          AND tlas.date BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY
            tlas.full_short_url, tl.gid, tlas.hour;
    </select>

    <!-- 根据分组获取指定日期内小时基础监控数据 -->
    <select id="listHourStatsByGroup" parameterType="com.caixy.shortlink.model.dto.linkAccessStats.ShortLinkGroupStatsReqDTO" resultType="com.caixy.shortlink.model.entity.LinkAccessStats">
        SELECT
            tlas.hour,
            SUM(tlas.pv) AS pv
        FROM
            t_link tl
                INNER JOIN t_link_access_stats tlas
                           ON tl.full_short_url = tlas.full_short_url
        WHERE
            tl.gid = #{param.gid}
          AND tl.is_deleted = 0
          AND tl.enable_status = '0'
          AND tlas.date BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY
            tl.gid, tlas.hour;
    </select>

    <!-- 根据短链接获取指定日期内小时基础监控数据 -->
    <select id="listWeekdayStatsByShortLink" parameterType="com.caixy.shortlink.model.dto.linkAccessStats.ShortLinkStatsReqDTO" resultType="com.caixy.shortlink.model.entity.LinkAccessStats">
        SELECT
            tlas.weekday,
            SUM(tlas.pv) AS pv
        FROM
            t_link tl
                INNER JOIN t_link_access_stats tlas
                           ON tl.full_short_url = tlas.full_short_url
        WHERE
            tlas.full_short_url = #{param.fullShortUrl}
          AND tl.gid = #{param.gid}
          AND tl.is_deleted = 0
          AND tl.enable_status = #{param.enableStatus}
          AND tlas.date BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY
            tlas.full_short_url, tl.gid, tlas.weekday;
    </select>

    <!-- 根据分组获取指定日期内小时基础监控数据 -->
    <select id="listWeekdayStatsByGroup" parameterType="com.caixy.shortlink.model.dto.linkAccessStats.ShortLinkGroupStatsReqDTO" resultType="com.caixy.shortlink.model.entity.LinkAccessStats">
        SELECT
            tlas.weekday,
            SUM(tlas.pv) AS pv
        FROM
            t_link tl
                INNER JOIN t_link_access_stats tlas
                           ON tl.full_short_url = tlas.full_short_url
        WHERE
            tl.gid = #{param.gid}
          AND tl.is_deleted = 0
          AND tl.enable_status = '0'
          AND tlas.date BETWEEN #{param.startDate} AND #{param.endDate}
        GROUP BY
            tl.gid, tlas.weekday;
    </select>
</mapper>
