<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caixy.shortlink.mapper.LinkStatsTodayMapper">

    <resultMap id="BaseResultMap" type="com.caixy.shortlink.model.entity.LinkStatsToday">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fullShortUrl" column="full_short_url" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="todayPv" column="today_pv" jdbcType="INTEGER"/>
            <result property="todayUv" column="today_uv" jdbcType="INTEGER"/>
            <result property="todayUip" column="today_uip" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,full_short_url,date,
        today_pv,today_uv,today_uip,
        create_time,update_time,is_deleted
    </sql>

    <!-- 记录今日统计监控数据 -->
    <insert id="shortLinkTodayState" parameterType="com.caixy.shortlink.model.entity.LinkStatsToday">
        INSERT INTO
            t_link_stats_today (full_short_url, date, today_uv, today_pv, today_uip, create_time, update_time, is_deleted)
        VALUES(
                  #{linkTodayStats.fullShortUrl},
                  #{linkTodayStats.date},
                  #{linkTodayStats.todayUv},
                  #{linkTodayStats.todayPv},
                  #{linkTodayStats.todayUip},
                  NOW(), NOW(), 0
              )
        ON DUPLICATE KEY UPDATE
                             today_uv = today_uv + #{linkTodayStats.todayUv},
                             today_pv = today_pv + #{linkTodayStats.todayPv},
                             today_uip = today_uip + #{linkTodayStats.todayUip};
    </insert>
</mapper>
