.tabs-container {
    width: 600px; /* Set a fixed width */
    margin: 0 auto; /* Center align the tabs container */
}

.card-container {
    margin-top: 20px;
    width: 100%; /* Make the card stretch to fill the tabs */
}

.oauth-button {
    width: 100%;  /* 全宽，对应Tailwind中的w-full */
    border: 1px solid #ccc;  /* 假设outline样式是这样定义的 */
    padding: 8px 16px;  /* 根据需要调整padding */
}

.oauth-content {
    display: flex;       /* flex布局 */
    align-items: center; /* 子项垂直居中 */
}

.oauth-icon {
    width: 1.0rem;      /* 图标宽度 */
    height: 1.0rem;     /* 图标高度 */
    margin-right: 0.5rem; /* 图标和文本间隔 */
}

/* 文本样式可以在这里进一步定义 */
.oauth-content p {
    margin: 0; /* 去除默认的p标签外边距 */
}